@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);

	body {		overflow-y: scroll;	
				font-family:"Georgia", sans-serif;
				padding:0; 
				margin:0;
				background:#F2F2F2;
			}
	h2 {			padding-top:10px;}
	
	.headerbar, .tumbNailBox, .popupContent {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;	}
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */				
	#page {		
				width:994px; /* 1024 - padding*/
				height:610px;  /* 640 - padding*/
				margin:0 auto;
				border:15px solid #3577B7;
				background:#F2F2F2;
				background-image: url('../pics/bakgrund.jpg');
				border-radius:10px;
				box-shadow: 5px 5px 3px #888888;
				position:relative;
	}
	#taskbar {
				width:994px;
				height:80px;
				position:absolute;
				bottom:0;
				background-image: url('../pics/taskbar.jpg');
				border-top:10px solid #3577B7;
			 
	}
	
	.icon {
				margin: 0 10px;
				cursor:pointer;
				width:80px;
				height:80px;
				display:block;
				float:left;
				
	}
	#bilderna{
			width:500px;
			height:500px;
			background:green;
	}
	
		/** Popup fönster *
---------------------------------------------------------------------- */	
	#container{
				position:relative;
	}
	
	.headerbar{ display:block;
				min-width: 300px;
				min-height:40px;
				max-width:1024px;
				max-height:40px;
				height:40px;
				background:#FFF;
				background-image:url('../pics/headerbar.jpg');
				border-top:2px solid #3577B7;
				border-bottom:5px solid #3577B7;
	}
	.exitButton{
				width:30px;
				height:30px;
				float:right;
				margin-right:7px;
				cursor:pointer;
				background-image:url('../pics/exitbutton.png');
	}
	.smallIcon{
				width:30px;
				height:30px;
				float:left;
				margin-right:10px;
				cursor:pointer;
				background-image:url('../pics/exitbutton.png');
	}
	.popupContent{
				width:100%;
				min-height:120px;
				max-height:80%;
				height:auto !important;
				overflow:hidden;
				overflow-y:scroll;
	}
	
	.load {	 	width:100%;
				height:30px;
				background-image:url('../pics/headerbar.jpg');
				position:absolute;
				bottom:0;			
	}
	.loadIcon {	 	
				width:28px;
				height:28px;
				background-image:url('../pics/ajax-loader.gif');						
	}
	.smallIcon {	 	
				width:28px;
				height:28px;
				float:left;
				cursor:default;
				margin-left:5px;
				margin-top:1px;
	}
	.titlePopup {	
				height:28px;
				cursor:default;
				font-weight:bold;
				color:#3577B7;
				font-size:1.3em;
				float:left;
				padding:5px;
				line-height:22px;
	}
	.resizer {
				border: 10px solid green;
				width:25px;
				height:25px;
	}
	.popup{ 	min-width: 300px;
				font-family: 'Alegreya Sans', sans-serif;
				min-height:200px;
				max-width:900px;
				max-height:480px;
				width:500px;
				height:400px;
				background:#079FDB;
				cursor:default; 
				position:absolute;
				float:left;
				top:15px;
				border:3px solid #3577B7;
				border-radius:5px;
				margin-left:5px;
	}
	
	/** Popup för IMAGES *
---------------------------------------------------------------------- */		

	.tumbNailBox {
	
				height:80px;
				padding:10px;
				background:#D7EEF9;
				margin:5px;
				float:left;
				border-radius:3px;
				border:4px solid #3577B7;
	}

/**DESIGN AV SCROLLBAR *
---------------------------------------------------------------------- */	
	
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(53,119,183,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(53,119,183,0.4); 
}
