@charset "UTF-8";

	body {		overflow-y: scroll;	
				font-family:"Georgia", sans-serif;
				padding:0; 
				margin:0;
				background:#F2F2F2;
			}
	h2 {			padding-top:10px;}
	
	
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */				
	#page {		
				width:994px; /* 1024 - padding*/
				height:610px;  /* 640 - padding*/
				margin:0 auto;
				border:15px solid #3577B7;
				background:#F2F2F2;
				background-image: url('../pics/bakgrund.jpg');
				border-radius:10px;
				box-shadow: 5px 5px 3px #888888;
				position:relative;
	}
	#taskbar {
				width:994px;
				height:80px;
				position:absolute;
				bottom:0;
				background-image: url('../pics/taskbar.jpg');
				border-top:10px solid #3577B7;
			 
	}
	
	.icon {
				margin: 0 10px;
				cursor:pointer;
				width:80px;
				height:80px;
				display:block;
				float:left;
				
	}
	
		/** Popup fönster *
---------------------------------------------------------------------- */	
	#container{
				position:relative;
	}
	
	.headerbar{ display:block;
				min-width: 300px;
				min-height:40px;
				max-width:1024px;
				max-height:40px;
				height:40px;
				background:#FFF;
				border:1px solid green;
	}
	.exitButton{
				width:30px;
				height:30px;
				background:#000;
				float:right;
				margin-right:10px;
	}
	
	.load {
				
	}
	.resizer {
				border: 10px solid green;
				width:25px;
				height:25px;
	}
	.popup{ 	min-width: 300px;
				min-height:200px;
				max-width:1024px;
				max-height:550px;
				width:500px;
				height:500px;
				background:#079FDB;
				cursor:default; 
				position:absolute;
				float:left;
				top:15px;
	}

