@charset "UTF-8";

	body {		overflow-y: scroll;	
				font-family:"Georgia", sans-serif;
				}
	h2 {			padding-top:10px;}
	
	a {			display:block; 
				width:80px; height:80px;
				float:left;
				padding:10px; 
				}
	
	
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */				
	#page {		width:500px; 
				min-height:600px; 
				height:auto !important;  
				margin-left:30px;
				padding-bottom:15px;
				padding:10px;  
	}
	#text {		width:900px;
				height:100px;
				margin:0 auto;
				margin-top:15px;
				display:block;
				border:2px solid #A6AEF4;}
	#send {		margin:0 auto; 
				padding:15px;
				width:120px;
				margin:25px 0;
				border:2px solid #A6AEF4;
				font-weight:900;
				}
	#divforbuttons { margin:0 auto; width:300px;}
	#header {   display:block; 
				height:200px; 
				margin:0 auto;
				width:400px; border:5px solid #000;
				background:#FFF;
				background-image:url('../pics/header.jpg');
				background-repeat:no-repeat; 
				text-indent:100%;
				white-space:nowrap;
				overflow:hidden; }
				
	#container { background:#FFF;
				min-height:500px;
				margin:0 auto;
				height:100%;
				height:auto !important;  
				width:500px;
				text-align:center;
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				-o-user-select: none;
				user-select: none;
				}
	#mask {		position: absolute;
				visibility:hidden;
				min-height:1000px;
				width:100%;
				height:100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 9999; 
				background-color: transparent;}
	#score {    text-align:left;
				margin-left:30px;
				font-weight:900;
				color:#033454;}
	#tries {    line-height:50px;
				font-size:2em;
				font-weight:900;
				margin-top:50px;}
	input {   	width:100px;
				height:60px;
				border-radius:30px;
				font-weight:900;
				color:#033454;
				font-size:1.8em;
				margin:0 10px;
				cursor:pointer;}
	input:disabled {
				color:gray;
				cursor:default;
				}
	input:active { border:none;	
				outline:none;}
	

	ul {			margin-top:35px;
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				-o-user-select: none;
				user-select: none;}
	
ul li {	list-style:none; 
		cursor:pointer;
		}
ul li img {border:4px solid #000; border-radius:8px; box-shadow: 4px 4px 5px #245073; }

